
<script type="javascript">
  setInterval(
      window.location.reload(true),
      1000
  );
</script>

<h1>Cucumber features</h1>
<%= link_to 'Casos de Prueba', controller: 'articles' %>
<%= link_to 'Nuevos Casos de Prueba', new_article_path %> </br>

<%= link_to 'Nuevos Casos de Prueba',  '35.198.13.196/login.php'%>



</br>
<br>
<li><a href="http://35.198.13.196/login.php">Acceso a TestLink</a></li>


<h1>Ejecuciones de pruebas</h1>



